@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

.title {
    text-align: center;
    font-size: 2.75rem !important;
    margin-top: 4rem;
}

.pText {
    width: 80%;
    margin: auto;
    text-align: center;
    color: lightgrey !important;
    font-weight: 300;
    font-size: 1.5rem;
}

.courseCard {
    height: 32rem;
    width: 22rem;
    border-radius: 50px;
    background: #00234a;
    box-shadow:  20px 20px 52px #001c3b,
                -20px -20px 52px #002a59;
    border: 2px solid #003067;
    transition: 0.2s;
    cursor: pointer;
    margin: auto;
}

.courseCard:hover {
    border-radius: 50px;
    border: 2px solid #00428d;
    box-shadow:  25px 25px 62px #001c3b,
                -25px -25px 62px #002a59;
}

.courseImgWrapper {
    width: 100%;
    background: linear-gradient(
            217deg,
            rgba(255, 0, 0, 1),
            rgba(255, 0, 0, 0) 70.71%
        ),
        linear-gradient(127deg, rgba(0, 255, 0, 1), rgba(0, 255, 0, 0) 70.71%),
        linear-gradient(336deg, rgba(0, 0, 255, 1), rgba(0, 0, 255, 0) 70.71%);
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

.courseImg {
    width: 200px;
    height: 200px;
    padding: 20px;
    margin: auto;
    margin-top: 20px;
}

.name {
    font-weight: 800;
    color: #e5e5e5 !important;
}

.courseHeader {
    background: linear-gradient(
            217deg,
            rgba(255, 0, 0, 1),
            rgba(255, 0, 0, 0) 70.71%
        ),
        linear-gradient(127deg, rgba(0, 255, 0, 1), rgba(0, 255, 0, 0) 70.71%),
        linear-gradient(336deg, rgba(0, 0, 255, 1), rgba(0, 0, 255, 0) 70.71%);
    color: black !important;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 50vh;
    margin-bottom: 2rem;
}

.courseCardDescription {
    color: #cbcbcb !important;
    font-weight: 300;
}
